PORT=6001
VTEX_ACCOUNT=lojabl
VTEX_STORE_DOMAIN=lojabl.myvtex.com
VTEX_APP_KEY=
VTEX_APP_TOKEN=
VTEX_SALES_CHANNEL=1
VTEX_PAYMENT_GATEWAY=vtexpayments
VTEX_WISHLIST_ENTITY=wishlist
ALLOWED_ORIGINS=http://localhost:8081,http://localhost:19006
